# Virtualenv
.venv/
venv/

# Python
.mypy_cache
.pytest_cache
__pycache__/
*.py[cod]

# Env
.env

# Logs (ignora i file ma non la cartella)
logs/*
!logs/.gitkeep

# Output (ignora i file ma non la cartella)
data/output/*
!data/output/.gitkeep

# Docker
*.pid
